* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 25px;
}
img {
  display: block;
}
ul {
  list-style: none;
}

.content-wrapper {
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
  min-width: 428px;
}
nav .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 10px;
  display: none;
}
.text-container {
  text-align: start;
  padding: 30px 20px;
  position: relative;
}

.header-button {
  border: 0;
  background-color: white;
  color: palevioletred;
}
.image-graphic {
  width: 354px;
  height: 514px;
}

.hero {
  position: relative;
}
.h1-hero {
  font-size: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 900;
  padding-right: 50px;
}
p {
  line-height: 2;
}
.p-hero {
  color: palevioletred;
  padding-top: 50px;
}
.button-hero {
  background-color: white;
  border: 1px solid orangered;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 20px;
  margin: 50px;
  cursor: pointer;
}
.image-graphic {
  position: absolute;
  left: 60%;
  bottom: 40%;
}
.upsell h1 {
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 50px;
}

.upsell .content-wrapper {
  padding-top: 70px;
  padding-bottom: 30px;
  background: rgb(180, 138, 58);
  background: rgb(180, 138, 58);
  background: linear-gradient(
    90deg,
    rgba(180, 138, 58, 0.05405405405405406) 0%,
    rgba(253, 67, 29, 0.984984984984985) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 30px 20px;
}

.press {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.showcase h1 {
  font-weight: 500;
  padding-bottom: 30px;
}
.showcase p {
  padding-bottom: 30px;
}

a {
  color: rgb(39, 38, 38);
}
.card-container {
  display: flex;
  gap: 20px;
}

.footer-upsell {
  position: relative;
}

.footer-p {
  color: palevioletred;
  padding-top: 50px;
}
.footer-upsell h1 {
  font-weight: 900;
  padding-bottom: 50px;
}
.image-footer {
  position: absolute;
  left: 70%;
  bottom: 10%;
}
.footer-upsell p {
  padding-right: 120px;
}

.footer-logo {
  display: flex;
  padding-bottom: 80px;
  gap: 30px;
  flex-direction: column;
}

.footer-about {
  display: flex;
  gap: 20px;
  flex-shrink: 1;
}

.footer-icons {
  display: flex;
  gap: 30px;
}
.grey {
  color: gray;
  font-weight: 200;
}

@media only screen and (min-width: 1440px) {
  nav ul {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding-bottom: 50px;
  }
  .hamburger {
    display: none;
  }
  .header-button {
    font-size: 20px;
  }
  .content-wrapper {
    max-width: 1440px;
  }

  .image-graphic {
    position: absolute;
    left: 620px;
    top: -180px;
    width: 550px;
    height: 900px;
  }
  .hero {
    padding-right: 800px;
    position: relative;
  }
  .upsell {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    margin-top: 80px;
  }
  .press {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
  }
  .showcase {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 90px;
  }
  .footer-upsell {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
  }
  .footer-upsell p {
    padding-right: 800px;
  }
  .image-footer {
    position: absolute;
    right: -600px;
  }
  footer .content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-about {
    justify-content: flex-end;
    line-height: 1.5;
    gap: 40px;
  }
}
